.main {
  width: 100%;
  margin-top: 160px;
  transition: all 1s;

}
.first_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section{
  transition: all 1s;
}
a {
  color: white;
}
.first_section > img {
  width: 15vw;
  height: 60vh;
  margin-top: -100px;
}
.first_section_child {
  width: 57.81%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5vh;
}
.first_section_child_left {
  width: 55%;
}
.first_section_child_left > h1 {
  color: #000;
  font-family: Inter;
  font-size: 2.8646vw;
  font-style: normal;
  font-weight: 600;
  line-height: 124.523%;
  width: 100%;
  margin: 0;
}
.first_section_child_left > p {
  color: #202020;
  font-family: Inter;
  font-size: 1.6vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 85%;
}
.first_section_child_left > button {
  width: 50%;
  height: 80px;
  border-radius: 100px;
  background: #00cbff;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 1.4vw;
  box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.3) inset;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.first_section_child_right > img {
  width: 100%;
}

.first_section_child_right {
  position: relative;
}
.shadow {
  position: absolute;
  top: 30%;
  right: 40%;
  width: 10%;
  height: 30%;
  z-index: -1;
  -webkit-box-shadow: 5px 35px 100px 100px rgba(67, 170, 255, 1);
  -moz-box-shadow: 5px 35px 100px 100px rgba(67, 170, 255, 1);
  box-shadow: 5px 35px 100px 100px rgba(67, 170, 255, 1);
}
.second_section {
  width: 57.81%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second_section > button {
  width: 25%;
  height: 70px;
  border-radius: 100px;
  background: #65e700;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 1.4vw;
  box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.3) inset;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.second_section-first_text {
  color: #00cbff;
  text-align: center;
  font-family: Inter;
  font-size: 1.71875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 135.523%;
  width: 50%;
}
.second_section-second_text {
  color: #000;
  font-family: Inter;
  font-size: 0.78125vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 95%;
  margin: -3% 0;
  margin-top: 4%;
}
.wrapper-real-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
.wrapper-cards {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box_cards {
  width: 90%;
  height: 35vh;
  border-radius: 50px;
  background-color: rgb(246, 253, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% 0 0;
}
.service2 {
  height: 30px;
  margin: 40px 0 0 0;
}
.box_cards > p {
  transform: rotate(-90deg);
  font-size: 2.0833vw;
  color: rgb(217, 217, 217);
}
.text-logo_box > p {
  font-size: 0.625vw;
  width: 70%;
  color: #51d9ec;
}
.real_box_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-logo_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0 5px 5px;
}
.second-card-p {
  color: #a8d966;
  font-size: 1.1458vw;
  text-align: center;
}
.second-card-p2 {
  font-size: 0.67vw;
  text-align: center;
}
.Wrapper_second {
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #a8d966;
  border-radius: 25px;
  background-color: white;
  margin-top: -10%;
  bottom: 0;
  margin-bottom: -26%;
}
.Wrapper_second > img {
  width: 100%;
}
.cards-first > img {
  width: 100%;
}
.cards-first {
  width: 20%;
  height: 23vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 4% 0;
  border: 1px solid #01cbe6;
  border-radius: 28px;
}
.boxes_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.sharLogo {
  position: absolute;
  top: -25px;
  z-index: -1;
  right: 0;
}
.sharLogo1 {
  position: absolute;
  bottom: -25px;
  z-index: -1;
  left: 0;
}
.there_container_wrapper {
  background-image: url("../../assets/img/Шейпы\ 3-4\ Экран.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.third-container-left {
  width: 39.45%;
}
.GreenButton {
  width: 30%;
  height: 84px;
  border-radius: 42px;
  background: #65e700;
  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}
.fourth_section-bottom-right-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fourth_section-first_text {
  color: #01cbff;
  width: 50%;
  margin: 20px 0 0 0;
  font-family: Inter;
  font-size: 2.08vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.fourth_section-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fourth_section-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
.fourth_section-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.fourth_section-bottom {
  margin: 30px 0;
}
.fourth_section-bottom-right-top > img {
  width: 50%;
}
.rasm {
  width: 50%;
}
.rasm1 {
  width: 25%;
}
.four-carda {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
.fourth_section {
  width: 57.81%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.fourth_section-top {
  width: 100%;
  display: flex;
  justify-content: center;
}

.third-container-left > img {
  width: 100%;
}
.third-section {
  margin: 100px 0;
  width: 57.81%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.third-container-right {
  width: 50%;
}
.third-container-right > button {
  width: 100%;
  border-radius: 100px;
  background: #65e700;
  height: 13vh;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 1.8229vw;
  font-style: normal;
  font-weight: 700;
  border: none;
}
.s-third-button {
  width: 100%;
  border-radius: 100px;
  background: #65e700;
  height: 13vh;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 1.8229vw;
  font-style: normal;
  font-weight: 700;
  border: none;
  display: none;
}
.third-container-right-text {
  color: #000;
  font-family: Inter;
  font-size: 0.78125vw;
  font-style: normal;
  font-weight: 400;
  line-height: 134.023%; /* 20.103px */
  letter-spacing: 0.15px;
  margin: 40px 0;
}
.third-container-right_child {
  display: flex;
  justify-content: flex-end;
}
.call_button {
  width: 50%;
  height: 80px;
  border-radius: 100px;
  background: #00cbff;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 1.4vw;
  box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.3) inset;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.call_button1 {
  width: 50%;
  height: 80px;
  border-radius: 100px;
  background: #00cbff;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 1.4vw;
  box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.3) inset;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.GreenButton1 {
  width: 30%;
  height: 84px;
  border-radius: 42px;
  background: #65e700;
  color: #fff;
  font-family: Inter;
  font-size: 2.08vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}
.card-five {
  margin: 40px 0;
}
.card-five > img {
  width: 100%;
}
.fifth_section {
  width: 57.81%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0;
}
.card-five {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-five-texts {
  width: 75%;
  height: 77px;
  background-color: #00cbff;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: -1px 3px 34px 0px rgba(67, 170, 255, 0.2);
  -moz-box-shadow: -1px 3px 34px 0px rgba(67, 170, 255, 0.2);
  box-shadow: -1px 3px 34px 0px rgba(67, 170, 255, 0.2);
}
.card-five-texts > p {
  margin: 3px 0;
}
.top-text {
  color: #fff;
  font-family: Inter;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.bottom-text {
  color: #fff;
  font-family: Inter;
  font-size: 0.8vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-top: 1px solid white;
  padding: 2px 0;
}
.wrapper-fifth-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .first_section_child {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .wrapper-fifth-cards {
    width: 100%;
  }
  .card-five > img {
    width: 90%;
  }
  .card-five-texts {
    width: 62px;
    height: 24px;
  }
  .top-text {
    color: #fff;
    font-family: Inter;
    font-size: 7px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 3px;
  }
  .fifth_section {
    width: 100%;
    margin-top: 10px;
  }
  .GreenButton1 {
    width: 230px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 42px;
    background: #65e700;
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .third-section {
    margin-top: 30px;
  }
  .third-container-right {
    width: 100%;
  }
  .call_button {
    width: 174px;
    height: 43px;
    flex-shrink: 0;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .third-container-right_child {
    display: flex;
    justify-content: center;
  }
  .third-container-right-text {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
  }
  .C-third-button {
    display: none;
  }
  .fourth_section-bottom-right {
    display: none;
  }
  .GreenButton {
    width: 150px;
    height: 40px;
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .fourth_section {
    margin-top: -60px;
  }
  .fourth_section-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fourth_section {
    width: 100%;
  }
  .fourth_section-bottom-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .third-container-right-text {
    width: 80%;
    margin: 10px 23px 15px 23px;
    font-size: 12px;
  }
  .first_section_child_right > img {
    width: 291px;
    margin-right: 40px;
  }
  .fourth_section-first_text {
    color: #10ceff;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
  }
  .s-third-button {
    margin-bottom: 20px;
    display: block;
    width: 212px;
    height: 53px;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 126.523%;
  }
  .first_section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .first_section_child_right > img {
    width: 246px;
  }
  .first_section_child_left {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .first_section > img {
    display: none;
  }
  .first_section_child_left > h1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.523%; /* 24.905px */
    width: 250px;
    margin: 30px 0 0 0;
  }
  .first_section_child_left > p {
    display: none;
  }
  .first_section_child_left > button {
    width: 174px;
    height: 47px;
    border-radius: 100px;
    background: #00cbff;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.3) inset;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0 0 0;
  }

  .second_section > button {
    width: 191px;
    height: 53.65px;
    font-size: 20px;
    white-space: nowrap; /* Запрет переноса текста на новую строку */
    display: inline;
  }
  .second_section-first_text {
    font-size: 20px;
    width: 100%;
  }
  .second_section-second_text {
    font-size: 13px;
    width: 90%;
    margin-top: 15%;
  }
  .box_cards {
    padding: 5px 0;
    width: 90vw;
    padding: 10px 0;
  }
  .sharLogo {
    display: none;
  }
  .sharLogo1 {
    display: none;
  }
  .cards-first {
    height: 15vh;
    border-radius: 10px;
  }
  .second-card-p {
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .second-card-p2 {
    font-size: 4px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .text-logo_box > p {
    font-size: 4px;
    width: 60%;
  }
  .second_section-second_text {
    margin-bottom: 10px;
  }
  .text-logo_box > img {
    width: 7px;
    height: 7px;
  }
  .Wrapper_second {
    padding: -25%;
    border-radius: 13px;
    height: 123px;
    padding: 8px;
  }

  .wrapper-cards {
    padding: 5px 0;
    width: 90%;
  }
  .service2 {
    display: none;
  }
  .third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .third-container-left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .third-container-left > img {
    width: 100%;
  }
}
