.main {
  width: 100%;
}
.first_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.first_section > img {
  width: 15vw;
  height: 60vh;
  margin-top: -100px;
}
.first_section_child {
  width: 57.81%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -5vh;
}
.first_section_child_left {
  width: 55%;
}
.first_section_child_left > h1 {
  color: #000;
  font-family: Inter;
  font-size: 2.8646vw;
  font-style: normal;
  font-weight: 600;
  line-height: 124.523%;
  width: 100%;
  margin: 0;
}
.first_section_child_left > p {
  color: #202020;
  font-family: Inter;
  font-size: 1.6vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 85%;
}
.first_section_child_left > button {
  width: 50%;
  height: 80px;
  border-radius: 100px;
  background: #00cbff;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 1.4vw;
  box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.3) inset;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.first_section_child_right > img {
  width: 100%;
}

.first_section_child_right {
  position: relative;
}
.shadow {
  position: absolute;
  top: 30%;
  right: 40%;
  width: 10%;
  height: 30%;
  z-index: -1;
  -webkit-box-shadow: 5px 35px 100px 100px rgba(67, 170, 255, 1);
  -moz-box-shadow: 5px 35px 100px 100px rgba(67, 170, 255, 1);
  box-shadow: 5px 35px 100px 100px rgba(67, 170, 255, 1);
}
.second_section {
  width: 57.81%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second_section > button {
  width: 25%;
  height: 70px;
  border-radius: 100px;
  background: #65e700;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 1.4vw;
  box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.3) inset;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.second_section-first_text {
  color: #00cbff;
  text-align: center;
  font-family: Inter;
  font-size: 1.71875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 135.523%;
  width: 50%;
}
.second_section-second_text {
  color: #000;
  font-family: Inter;
  font-size: 0.78125vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 95%;
  margin: -3% 0;
  margin-top: 4%;
}
.wrapper-real-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}
.wrapper-cards {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box_cards {
  width: 90%;
  height: 35vh;
  border-radius: 50px;
  background-color: rgb(246, 253, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% 0 0;
}
.service2 {
  height: 30px;
  margin: 40px 0 0 0;
}
.box_cards > p {
  transform: rotate(-90deg);
  font-size: 2.0833vw;
  color: rgb(217, 217, 217);
}
.text-logo_box > p {
  font-size: 0.625vw;
  width: 70%;
  color: #51d9ec;
}
.real_box_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-logo_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0 5px 5px;
}
.second-card-p {
  color: #a8d966;
  font-size: 1.1458vw;
  text-align: center;
}
.second-card-p2 {
  font-size: 0.67vw;
  text-align: center;
}
.Wrapper_second {
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #a8d966;
  border-radius: 25px;
  background-color: white;
  margin-top: -10%;
  bottom: 0;
  margin-bottom: -26%;
}
.Wrapper_second > img {
  width: 100%;
}
.cards-first > img {
  width: 100%;
}
.cards-first {
  width: 20%;
  height: 23vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 4% 0;
  border: 1px solid #01cbe6;
  border-radius: 28px;
}
.boxes_cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.sharLogo {
  position: absolute;
  top: -25px;
  z-index: -1;
  right: 0;
}
.sharLogo1 {
  position: absolute;
  bottom: -25px;
  z-index: -1;
  left: 0;
}
@media (max-width: 500px) {
  .first_section_child {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .first_section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .first_section_child_right > img {
    width: 246px;
  }
  .first_section_child_left {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .first_section > img {
    display: none;
  }
  .first_section_child_left > h1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 124.523%; /* 24.905px */
    width: 250px;
    margin: 30px 0 0 0;
  }
  .first_section_child_left > p {
    display: none;
  }
  .first_section_child_left > button {
    width: 174px;
    height: 47px;
    border-radius: 100px;
    background: #00cbff;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.3) inset;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0 0 0;
  }

  .second_section > button {
    width: 191px;
    height: 53.65px;
    font-size: 20px;
    white-space: nowrap; /* Запрет переноса текста на новую строку */
    display: inline;
  }
  .second_section-first_text {
    font-size: 20px;
    width: 100%;
  }
  .second_section-second_text {
    font-size: 13px;
    width: 90%;
    margin-top: 15%;
  }
  .box_cards {
    padding: 5px 0;
    width: 90vw;
    padding: 10px 0;
  }
  .sharLogo {
    display: none;
  }
  .sharLogo1 {
    display: none;
  }
  .cards-first {
    height: 15vh;
    border-radius: 10px;
  }
  .second-card-p {
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .second-card-p2 {
    font-size: 4px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .text-logo_box > p {
    font-size: 4px;
    width: 60%;
  }
  .text-logo_box > img {
    width: 7px;
    height: 7px;
  }
  .Wrapper_second {
    padding: -25%;
    border-radius: 13px;
    height: 123px;
    padding: 8px;
  }

  .wrapper-cards {
    padding: 5px 0;
    width: 90%;
  }
  .service2 {
    display: none;
  }
}
