footer {
  max-width: 1920px;
  max-height: 239px;
  width: 100%;
  height: 100%;
  background: #d6f3ff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
}

ul {
  list-style: none;
}
ul li {
  font-weight: 650;
}

.btn-col-center {
  max-width: 289px;
  max-height: 69px;
  height: 100%;
  padding: 13px;
  width: 100%;
  background-color: #00cbff;
  border: 1px solid transparent;
  color: white;
  font-size: 24px;
  box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.3) inset;
  border-radius: 100px;
}

.border {
  border-left: 2px solid black;
}

.logo-footer img {
  max-width: 70px;
  width: 100%;
  max-height: 60px;
  height: 100%;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.footer-child > .logo-footer {
  display: none;
}
.Responsive-wrapper{
  display: none;
}
@media (max-width: 500px) {
  .footer-child {
    display: none;
  }
  .active {
    display: none;
  }
  .border {
    display: none;
  }
  .footer {
    display: none;
  }
  .logo-footer > a > img {
    width: 70%;
  }
  .Img_wrappers > img {
    width: 150px;
    height: 62px;
  }
  .phone_footer {
    color: #000;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .real-phone-number {
    color: #000;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .Responsive-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
